/* common */
:root {
    /* hf means header footer */
    --hf-color:#1867b6;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.mb-20 {
    /* means margin-bottom 20 */
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.border-1 {
    border:1px black solid;
}
.mb-5 {
    margin-bottom: 5px;
}
.db {
    /* display:block */
    display: block;
}
/* common */

/* mainPart */
.category-container {
    margin: 50px 120px;
    width:80%;
}
.main-category {
    flex:1;
    border:1px rgb(219, 218, 218) solid;
    margin-left:15px;
    text-decoration: none;
}
.main-category:hover {
    text-decoration: underline black;
    border:1px rgb(0, 0, 0) solid;
    background-color: rgb(166, 169, 172);
}
.main-category img{
    width:80px;
    height:80px;
    align-items: center;
    margin-left: 105px;
    margin-top:15px;
    filter: invert(27%) sepia(99%) saturate(1193%) hue-rotate(189deg) brightness(93%) contrast(87%);
}
.main-category h3 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15px;
    color:rgb(0, 0, 0);
    
}

.left-category {
    width:200px;
    height:200px;
    margin-top:50px;
    margin-left:15px;
    border:1px rgb(192, 186, 186) solid;
    padding-left:50px;
    padding-top: 10px;
}
.left-category .left-a-category {
    display: block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding-top:5px;
}
.left-category .left-a-category:hover {
    text-decoration: underline black;
}
.blog-container {
    margin-left:30px;
    margin-top:50px;
    width:100%;
    height:300px;
    
}
/* mainPart */
/* author main-part */
.container {
    box-sizing: border-box;
    width:300px;
    min-height:200px;
    border:1px black solid;
    margin:auto;
    padding: 15px;
}
.common-input {
    box-sizing: border-box;
    width:100%;
    height:40px;
    padding-left:15px;
    padding-right:15px;
    margin-top:5px;
}
.remember {
    height:25px;
    display:flex;
    text-align: center;
}
.remember label {
    padding-left: 5px;
}
.lastA {
    display:flex;
    justify-content: space-around;
}
.lastA a {
    color:rgb(15, 15, 72);
    font-size:small;
    text-decoration: none;
}
.lastA a:hover {
    text-decoration: underline;
}
.btn {
    width:100%;
    height:40px;
    background-color:var(--hf-color);
    color:white;
    border:0;
}
.btn:active {
    transform: scale(0.96);
}
.btn:hover {
    cursor: pointer;
}
/* author main-part */
